
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("https://hdclipartall.com/images/arnold-schwarzenegger-clipart-arnold-schwarzenegger-gym-t-shirt-conquer-by-nimus-vancel-600.jpg");
            background-color: #cccccc;
            opacity:0.5;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
